<div class="text-center">
  <a href="#/">
    <span class="glyphicon glyphicon-home nav-icons text-center"></span>
  </a>
</div>
<br/>
<h4 class="page-heading text-center">Default limit set ( per hour ) 
  <br/> for different services.
  <br/> These are same for all the installed apps.
</h4>
<p class="text-center">i.e. if any app accesses a service from this list, and the service requests are more than this limit, Privacy Monitor sends a notification.</p>
<br/>
<!-- To make a table view using angular js with a JSON file - Did not work -->
<!-- <div ng-controller="defaultsController">
	search : <input type="text" value="" ng-model="search" /><table border=1><tr><th>Service Name</th><th>Limit</th></tr><tr ng-repeat="data in myData | filter : search"><td>{{data.service}}</td><td>{{data.limit}}</td></tr></table></div> -->
<div class="text-center">
  <table border=1>
    <thead>
      <tr>
        <th class="text-center">service name</th>
        <th class="text-center">default limit 
          <br/> (per hour)
        </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>camera</td>
        <td>60</td>
      </tr>
      <tr>
        <td>alarms</td>
        <td>10</td>
      </tr>
      <tr>
        <td>audio-capture</td>
        <td>10</td>
      </tr>
      <tr>
        <td>audio-channel-alarm</td>
        <td>10</td>
      </tr>
      <tr>
        <td>audio-channel-content</td>
        <td>10</td>
      </tr>
      <tr>
        <td>audio-channel-normal</td>
        <td>10</td>
      </tr>
      <tr>
        <td>audio-channel-notification</td>
        <td>50</td>
      </tr>
      <tr>
        <td>browser</td>
        <td>25</td>
      </tr>
      <tr>
        <td>contacts</td>
        <td>60</td>
      </tr>
      <tr>
        <td>desktop-notification</td>
        <td>30</td>
      </tr>
      <tr>
        <td>device-storage:music</td>
        <td>60</td>
      </tr>
      <tr>
        <td>device-storage:sdcard</td>
        <td>60</td>
      </tr>
      <tr>
        <td>device-storage:videos</td>
        <td>60</td>
      </tr>
      <tr>
        <td>fmradio</td>
        <td>30</td>
      </tr>
      <tr>
        <td>geolocation</td>
        <td>60</td>
      </tr>
      <tr>
        <td>input</td>
        <td>60</td>
      </tr>
      <tr>
        <td>mobileid</td>
        <td>5</td>
      </tr>
      <tr>
        <td>mobilenetwork</td>
        <td>30</td>
      </tr>
      <tr>
        <td>moz-firefox-accounts</td>
        <td>10</td>
      </tr>
      <tr>
        <td>nfc</td>
        <td>25</td>
      </tr>
      <tr>
        <td>nfc-share</td>
        <td>25</td>
      </tr>
      <tr>
        <td>nfc-read</td>
        <td>25</td>
      </tr>
      <tr>
        <td>nfc-write</td>
        <td>25</td>
      </tr>
      <tr>
        <td>push</td>
        <td>60</td>
      </tr>
      <tr>
        <td>speech-recognition</td>
        <td>20</td>
      </tr>
      <tr>
        <td>systemXHR</td>
        <td>35</td>
      </tr>
      <tr>
        <td>tcp-socket</td>
        <td>25</td>
      </tr>
      <tr>
        <td>video-capture</td>
        <td>60</td>
      </tr>
      <tr>
        <td>attention</td>
        <td>30</td>
      </tr>
      <tr>
        <td>audio-channel-ringer</td>
        <td>30</td>
      </tr>
      <tr>
        <td>audio-channel-telephony</td>
        <td>25</td>
      </tr>
      <tr>
        <td>audio-channel-publicnotification</td>
        <td>25</td>
      </tr>
      <tr>
        <td>background-sensors</td>
        <td>25</td>
      </tr>
      <tr>
        <td>bluetooth</td>
        <td>10</td>
      </tr>
      <tr>
        <td>browser:embedded-system-app</td>
        <td>25</td>
      </tr>
      <tr>
        <td>cellbroadcast</td>
        <td>60</td>
      </tr>
      <tr>
        <td>datastores-access</td>
        <td>30</td>
      </tr>
      <tr>
        <td>datastores-owned</td>
        <td>30</td>
      </tr>
      <tr>
        <td>device-storage:apps</td>
        <td>25</td>
      </tr>
      <tr>
        <td>embed-apps</td>
        <td>25</td>
      </tr>
      <tr>
        <td>mobileconnection</td>
        <td>60</td>
      </tr>
      <tr>
        <td>network-events</td>
        <td>60</td>
      </tr>
      <tr>
        <td>networkstats-manage</td>
        <td>60</td>
      </tr>
      <tr>
        <td>open-remote-window</td>
        <td>20</td>
      </tr>
      <tr>
        <td>permissions</td>
        <td>10</td>
      </tr>
      <tr>
        <td>phonenumberservice</td>
        <td>60</td>
      </tr>
      <tr>
        <td>power</td>
        <td>10</td>
      </tr>
      <tr>
        <td>presentation-device-manage</td>
        <td>20</td>
      </tr>
      <tr>
        <td>settings</td>
        <td>25</td>
      </tr>
      <tr>
        <td>sms</td>
        <td>60</td>
      </tr>
      <tr>
        <td>telephony</td>
        <td>60</td>
      </tr>
      <tr>
        <td>time</td>
        <td>60</td>
      </tr>
      <tr>
        <td>voicemail</td>
        <td>25</td>
      </tr>
      <tr>
        <td>webapps-manage</td>
        <td>25</td>
      </tr>
      <tr>
        <td>wifi-manage</td>
        <td>60</td>
      </tr>
      <tr>
        <td>wappush</td>
        <td>30</td>
      </tr>
    </tbody>
  </table>
</div>